In [62]:
import random as rd
import pandas as pd
import numpy as np
import math

In [63]:
a=[1,3,5,7,10,21,51,3]
b=[2,4,2,8,21,42,25,20]

In [64]:
data=pd.DataFrame({"a":a,"b":b})

In [65]:
data

    a   b
0   1   2
1   3   4
2   5   2
3   7   8
4  10  21
5  21  42
6  51  25
7   3  20

In [66]:
c1=(5,2)
c2=(21,42)

In [67]:
def findgroups(a,b,c1,c2):
    list1=[]
    list2=[]
    for i in range(len(a)):
        r1=math.sqrt(((c1[0]-a[i])**2)+((c1[1]-b[i])**2))
        r2=math.sqrt(((c2[0]-a[i])**2)+((c2[1]-b[i])**2))
        list1.append(r1)
        list2.append(r2)
    return list1,list2

In [68]:
def newcentroid(l1,l2,a,b):
    ll1=[]
    ll2=[]
    c1x=0
    c1y=0
    c2x=0
    c2y=0
    for i in range(len(l1)):
        if(l1[i]<l2[i]):
            ll1.append(i)
        else:
            ll2.append(i)
    for j in range(len(ll1)):
        c1x=c1x+a[ll1[j]]
        c1y=c1y+b[ll1[j]]
    c1x=c1x/len(ll1)
    c1y=c1y/len(ll1)
    for j in range(len(ll2)):
        c2x=c2x+a[ll2[j]]
        c2y=c2y+b[ll2[j]]
    c2x=c2x/len(ll2)
    c2y=c2y/len(ll2)

    c1=(c1x,c1y)
    c2=(c2x,c2y)
    return c1,c2,ll1,ll2

In [69]:
def kmean(a,b,nn1,nn2):
    cc1,cc2=nn1,nn2
    pc1=()
    pc2=()
    while(True):
        l1,l2=findgroups(a,b,cc1,cc2)
        z1,z2,ll1,ll2=newcentroid(l1,l2,a,b)
        if(z1==pc1 and z2==pc2):
            return z1,z2,ll1,ll2
        pc1=z1
        pc2=z2
        cc1=z1
        cc2=z2

In [70]:
n1,n2,l1,l2=kmean(data["a"],data["b"],c1,c2)

In [71]:
n1

(4.833333333333333, 9.5)

In [72]:
n2

(36.0, 33.5)

In [73]:
data

    a   b
0   1   2
1   3   4
2   5   2
3   7   8
4  10  21
5  21  42
6  51  25
7   3  20

In [74]:
print("The First cluster is: \n")
for i in range(len(l1)):
    print("(",a[l1[i]],",",b[l1[i]],")")

The First cluster is:

( 1 , 2 )
( 3 , 4 )
( 5 , 2 )
( 7 , 8 )
( 10 , 21 )
( 3 , 20 )

In [75]:
print("The Second cluster is: \n")
for i in range(len(l2)):
    print("(",a[l2[i]],",",b[l2[i]],")")

The Second cluster is:

( 21 , 42 )
( 51 , 25 )