In [3]:
import pandas as pd
import numpy as np
import random as rd

In [31]:
Age=['<=30','<=30','31-40','>40','>40','>40','31-40','<=30','<=30','>40','<=30','31-40','31-40','>40']
Income=['H','H','H','M','L','L','L','M','L','L','M','M','M','H']
Student=['N','N','N','N','Y','Y','Y','N','Y','Y','Y','N','Y','N']
credit=['F','E','F','F','F','E','E','F','F','F','E','E','F','E']
buys=['N','N','Y','Y','Y','N','Y','N','Y','Y','Y','Y','Y','N']

In [32]:
cube=pd.DataFrame({'Age':Age,'Income':Income,'Student':Student,'Credit':credit,'Buys_computer':buys})
cube

      Age Income Student Credit Buys_computer
0    <=30      H       N      F             N
1    <=30      H       N      E             N
2   31-40      H       N      F             Y
3     >40      M       N      F             Y
4     >40      L       Y      F             Y
5     >40      L       Y      E             N
6   31-40      L       Y      E             Y
7    <=30      M       N      F             N
8    <=30      L       Y      F             Y
9     >40      L       Y      F             Y
10   <=30      M       Y      E             Y
11  31-40      M       N      E             Y
12  31-40      M       Y      F             Y
13    >40      H       N      E             N

In [33]:
y_count=0
n_count=0
for i in range(14):
    if cube.Buys_computer[i]=='Y':
        y_count+=1
    else:
        n_count+=1
prob_buys_computer_yes=y_count/14
prob_buys_computer_no=n_count/14

In [34]:
def age_prob(label,attribute):
    count=0
    for i in range(14):
        if(cube.Buys_computer[i]==label and cube.Age[i]==attribute):
            count+=1
    if(label=='Y'):
        prob=count/y_count
    else:
         prob=count/n_count
    return prob

In [35]:
def income_prob(label,attribute):
    count=0
    for i in range(14):
        if(cube.Buys_computer[i]==label and cube.Income[i]==attribute):
            count+=1
    if(label=='Y'):
        prob=count/y_count
    else:
        prob=count/n_count
    return prob

In [36]:
def credit_prob(label,attribute):
    count=0
    for i in range(14):
        if(cube.Buys_computer[i]==label and cube.Credit[i]==attribute):
            count+=1
    if(label=='Y'):
        prob=count/y_count
    else:
        prob=count/n_count
    return prob

In [37]:
def student_prob(label,attribute):
    count=0
    for i in range(14):
        if(cube.Buys_computer[i]==label and cube.Student[i]==attribute):
            count+=1
    if(label=='Y'):
        prob=count/y_count
    else:
        prob=count/n_count
    return prob

In [38]:
y_result=age_prob('Y','<=30') * income_prob('Y','M') * student_prob('Y','Y') * credit_prob('Y','F') * prob_buys_computer_yes
y_result

0.028218694885361547

In [39]:
n_result=age_prob('N','<=30') * income_prob('N','M') * student_prob('N','Y') * credit_prob('N','F') * prob_buys_computer_no
n_result

0.003428571428571429

In [40]:
if y_result<n_result:
    print("Label: No")
else:
    print("Label: Yes")

Label: Yes